<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
    </div>
    <div class="container">
        <div class="row">
            <h2>Latest Mars News</h2>
            <h3>{{ mars.NASA_Mars_News_Titles[1] }}</h3>
            <h4>{{ mars.NASA_Mars_News_Ledes[1] }}</h4>
        </div>
        <div class="row">
            <div class="col-md-6">    
                <h2>Mars Space Facts</h2>
                {{ mars.Mars_Space_Facts |safe}}
            </div>
            <div class="col-md-6">
                <h2>Current Weather Tweet</h2>
                <h3>{{ mars.Mars_Weather_Tweet }}</h3>
            </div>
        </div>
        <h2>Featured Mars Image</h2>
        <img src="{{ mars.JPL_Featured_Image_URLs }}" alt="JPL_Featured_Image">
        <h2>Mars Hemispheres</h2>
        <h3>{{ mars.Mars_Hemispheres[0]['title'] }}</h3>
        <img src="{{ mars.Mars_Hemispheres[0]['img_url'] }}" alt="Cerberus Hemisphere ">
        <h3>{{ mars.Mars_Hemispheres[1]['title'] }}</h3>
        <img src="{{ mars.Mars_Hemispheres[1]['img_url'] }}" alt="Schiaparelli Hemisphere">
        <h3>{{ mars.Mars_Hemispheres[2]['title'] }}</h3>
        <img src="{{ mars.Mars_Hemispheres[2]['img_url'] }}" alt="'Syrtis Major Hemisphere">
        <h3>{{ mars.Mars_Hemispheres[3]['title'] }}</h3>
        <img src="{{ mars.Mars_Hemispheres[3]['img_url'] }}" alt="'Valles Marineris Hemisphere">
    </div>
  </div>
</body>

</html>
